{{ define "main"}}
    <h1>{{ .Title }}</h1>
    
    {{ .Content }}
    {{ range .Pages }}
        <div class="cover">
            <h1>{{ .Title }}</h1>
            {{ $coverRsc := .Resources.GetMatch (print "**/" (.Param "cover"))}}
            <a href="{{ .Permalink }}">
                {{ with $coverRsc }}
                    {{ $image := .Resize "600x q90" }}
                    <img src="{{ $image.RelPermalink }}">
                {{ end }}
            </a>
        </div>
    {{ end }}
    
{{ end }}