{{ define "main"}}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="gallery-list">
        {{ range .Pages }}
            {{ $coverRsc := .Resources.GetMatch (print "**/" (.Param "cover"))}}
            {{ $galleryLink := .Permalink }}
            {{ $galleryTitle := .Title }}
            {{ with $coverRsc }}
                {{ $image := .Resize "600x q90" }}
                <a href="{{ $galleryLink }}">
                    <div>
                        <div class="cover-art">
                            <img src="{{ $image.RelPermalink }}" alt="{{ $galleryTitle }}" style="width:100%">
                            <div class="cover-title">{{ $galleryTitle }}</div>
                        </div>
                    </div>
                </a>
            {{ end }}
        {{ end }}
    </div>
{{ end }}