.gallery-list {
    display: flex;
    column-gap: 1rem;
}
.cover-art {
    position: relative;
    text-align: center;
    color: #fff;
    filter: grayscale(100%);
}

a:hover {
    .cover-art {
        filter: none;
    }
    .cover-title {
        font-size: 2rem;
    }
}
.cover-title {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}


