body {
    margin: 0;
    background-color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    
}
#nav {
    background-color: aqua;
    color: #3f3535;
    list-style: none;
    li{ 
    display:inline;
}
}
