@import "color";
body {
    margin: 0;
    background-color: $light-color;
    color: $dark-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
#nav {
    height: 1rem;
    padding: 0.4rem 0 0.6rem 1rem;
    background-color: $dark-color;
    color: $light-accent-color;
    list-style: none;
    ul {
        float: right;
        background-color: $secondary-color;
        li {
            display: inline;
        }
        a {
            text-decoration: none;
            color: $light-color;
        }
        a:hover {
            text-decoration: underline;
            color: $light-accent-color;
        }
    }
}
