@import "color";
body {
    margin: 0;
    background-color: $light-color;
    color: $dark-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
#nav {
    height: 1rem;
    padding: 0.4rem 0 0.6rem 1rem;
    background-color: $dark-color;
    color: $light-accent-color;
    list-style: none;
    ul {
        float: right;
        background-color: $secondary-color;
        li {
            display: inline;
        }
        a {
            text-decoration: none;
            color: $light-color;
        }
        a:hover {
            text-decoration: underline;
            color: $light-accent-color;
        }
    }
}

#content {
    p {
        width: 100%;
        img {
            width: 60%;
            margin: auto;
            display: block;
            border: 1px solid $dark-accent-color; 
            padding: 5px ;
            background-color: $primary-color;
        }
    }
}

.banner {
    width: 100%;
    object-fit: cover;
    max-height: 230px;
}